*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Segoe UI, SegoeUI, Arial, sans-serif;
    background-color: #fff;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    background-color: #fffefe;
}
a{
    color: #262626;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.continer{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
/* nav*/
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13;
}
.main-nav .logo{
width: 110px;

}
.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}
.main-nav ul li a {
    padding-bottom: 2px;
}
.main-nav ul li a:hover{
   border-bottom: 2px solid #262626;
}  
.main-nav ul.main-menu{
    flex:1;
    margin-left: 20;
}
.nav-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-icon1{
    
  margin-left: 15px;
}
.btn{
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background:#0067b8 ;
    font-size: 15px;
    color: #fff;
}
.btn:hover{
    opacity: 0.9;
}
.texheader{
    background-color: #fff;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    text-align: left;
    background: url(/img/Highlight-Test-Surface-Pro-9-Platinum-Attract\ VP4-1399x600_4_11zon.jpg) no-repeat center/cover;
}
.pre{
    font-family: Segoe UI, SegoeUI, Arial, sans-serif;

}
.tbg{
    background-color: #fff;
    width: 400px;
    height: 250px;
   margin-left: 100px;
   margin-top: 70px;
   padding: 15px;
    
}
.pre{
padding-top: 15px;
}
.pheader{
    padding-top: 15px;
    color: #262626;
    margin-top: -15px;
}
.pheader :active{
    border: 2px #262626 dashed;
    text-decoration: solid 2px;
}
 
/*icons body*/

.bodticons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
   
    margin-top: 150px;
    margin-left: 100px;
    width: 90%;
    max-width: 900px;
}
.logo-body{
display: flex;
flex-direction: column;

flex-wrap: wrap;
margin-left: 25px;
width: 220px;
height: 100px;
text-align: center;

}
.logo-body a{
    border-bottom:1.5px solid #0004f8;
    font-weight: bolder;
    color: #0004f8;

}
.logo-body a:active{
    border: 2px dashed #0004f8;
    text-decoration: solid 2px #0004f8;
}
.ico{
    align-self: center;
}
.logo-body log2{
    display: grid;
    grid-template-rows: span3;}


    /*home-cart*/
 
    .home-cart{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:70px;
        margin-top: 150px;
       margin-left: 80px;
        width: 150px;
      
    }

.home-cart p{
    color: #262626;
}
.home-cart h2{
   color:  #262626;
}
.homecart1 h2{
 
 line-height: 35px;
 padding-top:  30px;
}
.homecart1 p{
 
    line-height: 22px;
    padding-top:  30px;
    padding-bottom: 30px;
   }
   .homecart1 a{
    font-size: large;
    color: #0004f8;}
    
   
/*xbox*/
.xbox{
    width: 100%;
    height: 550px;
    background: url(/img/gldn-2.jpg) no-repeat  center/cover;
    margin-top: 20px;
}
 .xbox .content{
    width: 40%;
    padding: 180px 50px 0 30px;
    
   
 }
.xbox p{
    margin: 10px 0 20px;
}
.textbody{
    color: #262626;
    margin-top:120px;
    padding-left: 75px;
    margin-bottom: -120px;
}

